.app-bar{
  background:rgb(166, 166, 247);
  padding:10px;
  color:white;
}
.navigation-bar{
  background:#f8f8f8;
  padding:2px;
  padding-left:10px;
}
.navigation-bar ul{

 padding-left:20px;
}
.navigation-bar ul >li,.navigation-bar ul >li .a{
  display:inline-block;
  
  font-size:20px;
  text-decoration:none;
  color:#444;
  padding-left:20px;
}
.selected-link,.selected-link:hover{
  color:#444;
}
.grid-container{
  width:80%;
  padding-left:71px;
  padding-top:20px;
}